.buttonsWrapper > button {
  margin: 5px;
  border-radius: 7px;
  cursor: pointer;
  background-color: white;
}

.buttonsWrapper > button:active {
  background-color: blue;
}

.buttonsWrapper > button:focus {
  outline: none;
}
